<% layout('./layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <h4><a href="/campgrounds/new">Create New Campground</a></h4>
    <ul>
        <% for(let campground of campgrounds) {%>
            <li>
                Title: <%= campground.title %>, Location: <%= campground.location %>,
                        <a href="/campgrounds/<%=campground._id%>">show</a>,
                        <a href="/campgrounds/<%=campground._id%>/edit">edit</a>,
                        <form action="/campgrounds/<%=campground._id%>?_method=delete" method="post">
                            <button>Delete</button>
                        </form>
            </li>
            <% }%>
    </ul>